@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*
body {
	background-color: #0fb2b2}

#header {
	background-color: #FFB64C; 
}

nav {
	font-family: 'Roboto Slab', serif;
	font-size: 1.8em;
	background-color: #FFB64C;
	color: #0fb2b2;
	float: right;
}

#hero {
	background-color: #0fb2b2;
	width: 100%;
	justify-content: right;
}

#intro {
	background-color: ##0fb2b2;
	padding: 20px;
}

#services {
	background-color: ##0fb2b2;
	padding: 20px;
}

.services {
	float: left;
	width: 33%;
	background-color: ##0fb2b2;
	text-align: center;
}

#servicescontainer {
	overflow: hidden;
	position: relative;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#licenses {
	background-color: #FFB64C;
	padding: 20px;
	width: 100%;
}

.licenses {
	width: 25%;
	padding: 50px;
	margin: 0 10px;
	float: left;
}

#licensescontainer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#testimonials {
	background-color: #0fb2b2;
	padding: 20px;
	width: 100%;
}

.testimonials {
	width: 25%;
	padding: 50px;
	margin: 0 10px;
	float: left;
}

#testimonialscontainer {
	overflow: hidden;
	position: relative;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}
p {
	font-family: 'Roboto Slab', serif;
	font-size: 1.1em;
	color: white;
}

ul {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 1.1em;
	color: white;
}

blockquote {
	font-family: 'Roboto Slab', serif;
	font-size: 1.1em;
	font-weight: bold;
	color: white;
}

footer {
	background: #0fb2b2;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	color: #0fb2b2;
}

@media only screen and (max-width: 500px) { 
	.licenses { 
		float: none; 
		width: auto; 
		} 
	.testimonials { 
		float: none; 
		width: auto; 
		}
}