@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

header {
	background color: #3b6bb5; 
}

nav {
	font-family: 'Pangolin', cursive;
	font-size: 22px;
	color: #ffa374;
}

body {
	background-color: #3b6bb5}

#slogan {
	font-style: italic;
	font-family: 'Pangolin', cursive;
	font-size: 24px;
	color: #ffa374;
}

#heroquote {
	font-family: 'Pangolin', cursive;
	font-size: 22px;
	color: #ffa374;
}

h2 {
	font-family: 'Pangolin', cursive;
	font-size: 22px;
	font-weight: bold;
	color: white;
}
p {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: white;
}

ul {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

blockquote {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

footer {
	background: #ffa374;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #3b6bb5;
}