@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

header {
	background color: #3b6bb5; 
}

body {
	background-color: #}
nav {
	font-family: 'Pangolin', cursive;
	font-size: 22px;
	color: #ffa374;
}

#slogan {
	font-style: italic;
	font-family: 'Pangolin', cursive;
	font-size: 24px;
	color: #ffa374;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #3b6bb5;
}

ul {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #3b6bb5;
}

blockquote {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #3b6bb5;
}

footer {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #3b6bb5;
}